@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
:root {
  --bg-color: #000000;
  --primary-color: #e50914;
}
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #fafafa;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 50px;
}
iframe::-webkit-media-controls {
  display: initial !important; /* Hiển thị thanh controls trong trình duyệt Chrome và Safari */
}
